{% extends 'base.html' %}

<!--don't want navbar in the homepage, to have a full-height background image (and to exercise)-->
<!--a color gradient would have allowed the inclusion of the navbar(?)-->
{% block navbar %}
{% endblock navbar %}

<!--a simple welcome text (surely improvable)-->
{% block content %}
<div class="container-fluid d-flex min-vh-100 my-auto text-center text-light" style="background-image: url('https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1920&q=80')">
<!--    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <div class="col-lg-6 mx-auto my-auto">
        <h1 class="display-5 fw-bold">Café advisor</h1>
        <p class="lead mb-4">Quickly find and review all cafes near you</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-center">
            <a class="btn btn-secondary btn-lg px-4 gap-3" href="{{ url_for('cafe_list') }}">Search cafes</a>
<!--            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>-->
        </div>
    </div>
</div>
{% endblock %}